@font-face {
    font-family: 'rotundaregular';
    src: url('/fonts/rotunda-regular-webfont.woff2') format('woff2'),
        url('/fonts/rotunda-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --back-color: #0D0C0C;
}

* {
    font-family: 'rotundaregular', 'Arial';
    margin: 0;
    padding: 0;
}



header {
    font-weight: lighter;
    display:flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    border: 2px#322D2D;
    border-style: none none solid none;
}

/* .abouth1{
    position:relative;
    margin :96px 0;
    text-align:center;

} */

.about-us-main-heading {
    text-align: center;
    top: 60px;
    font-weight: bolder;
    position: relative;
}




nav {
    display: flex;

    align-items: flex-start;
    justify-content: center;
    height: 8vh;
    max-width: 100%;
}

.logo{
    position:absolute;
    top:1vh;
    left:0;
    height:5vh;
}

nav ul {

    height: 8vh;
    padding: 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 0 45px;
    list-style: none;
}

nav ul li a {
    opacity: 0.5;
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
    transition:0.2s;
}

nav ul li a:hover {
    opacity: 1;
    color: #FFFFFF;
    text-decoration: none;
}

body {
    color: white;
    background-color: var(--back-color);
    
}

main {
    font-weight: normal;
    min-height: calc(100vh - 8vh - 11vh);
    overflow-x: clip;

}


.main-flex{
display:flex;
flex-direction: column;
align-items: center;
margin-bottom:4vh;

}

.upper-flex{
    width: 90vw;
    height:30vh;
    display: flex;
    justify-content: space-between;
    margin-left:10vw;
    margin-right:10vw;
    margin-top:2vw;

}

.left-upper-flex{
    display: flex;

    width:16vw;
    background: #272324;
    /* border: 5px solid #4E4B4D; */
    border-radius: 40px;
}

.middle-upper-flex{
    display: flex;
    width:40vw;
    height:30vh;
    align-items: center;
    flex-direction: column;
}

.trade-form{

    margin-top:1vh;
    width:40vw;
    
    font-size:1.8vh;

}

.trade-form-option{
    display: flex;
    align-items: center;
    justify-content: center;
    height:14vh;
    display: inline-flex;
    align-self: center;
    flex-direction: column;
}

.trade-form-option-left{
    display: flex;
    align-items: center;
    justify-content: center;
    height:14vh;
    display: inline-flex;
    align-self: center;
    flex-direction: column;

}

.trade-form-option-middle{
    display: flex;
    justify-content: center;
    height:14vh;
    width:12vw;
    align-items: center;

    display: inline-flex;
    align-self: center;
    flex-direction: column;
    margin-left:2.5vw;
}

.trade-form-option-right{
    display: flex;
    height:14vh;

    margin-left:4vw;
    display: inline-flex;
    align-self: center;
    flex-direction: column;
}

.trade-form-option-right > p{
    justify-self: center;
    align-self: center;
    margin-top:2vh;
    display: inline-flex;
    
}

.trade-value{
margin-top:3vh;
}


.trade-form-select{

    margin-top:0vh;
}

.trade-form > form{
    display: flex;
    flex-direction: column;
    padding:3%;
    display: flex;
    height:23.4vh;
    background: #272324;
    border: 5px solid #4E4B4D;
    border-radius: 30px;

    font-size:2vh;
}

select{
    background: #AEAEC0;
    box-shadow: 0px 3.68359px 3.68359px rgba(0, 0, 0, 0.25);
    border-radius: 0.2vw;
    width:10vw;
    height:3vh;
}

#amount-entered{
    background: #AEAEC0;
    box-shadow: 0px 3.68359px 3.68359px rgba(0, 0, 0, 0.25);
    border-radius: 0.2vw;
    height:3.2vh;
    width:10vw;
    padding-left:0.4vw;
    font-size:2vh;
}

#submit {
    text-shadow: 0px 2.70071px 2.70071px rgba(0, 0, 0, 0.25);
    font-family:'rotundaregular';
    font-size:40px;
    font-weight: bold;
    -webkit-text-stroke-color: black;
    display: flex;
    margin-top: 1vh;
    color: #F4EFFB;
    width: 6vw;
    height: 5vh;
    display: inline-flex;
    align-self: center;
    background: #9507EF;
    border-radius: 42px;
    align-items: center;
    justify-content: center;
    font-size:2vh;
    transition:0.2s;

}

.trade-form-upper{
    display: flex;
    height:20vh;
}
#submit:hover{
    background-color: #44096A;
}
.middle-upper-flex > h1{
    display: flex;
    font-size:4vh;
}

.right-upper-flex{
    display: flex;
    width:18vw;
}

.my-trades{
display: flex;
width:18vw;
flex-direction: column;
/* background: linear-gradient(124.7deg, rgba(255, 255, 255, 0.4) 9.74%, rgba(255, 255, 255, 0.1) 81.2%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
border:0.2vw solid #4E4B4D; */
align-items: center;
border-radius: 40px;
}

.my-trades-table{
    display: inline-flex;
    width: 15vw;
    display: flex;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.8vh;
    overflow: clip;
    margin-top:0.4vh;

}

.my-trades-heading{
    margin-top:5vh;
}
.my-trades-heading > p{
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    font-size: 2.2vh;
    display: inline;
    font-weight:bold;
}

.my-trades-table-row > td{
    width: 20vw;
}

.my-trades-table-right{
        text-align: right;
        padding-top: 1.2vh;
}

.my-trades-table-left{
    text-align: left;
    padding-top: 1.2vh;
}


/* .crypto-prices{
padding:10%;
display: flex;
width:15vw;

background: linear-gradient(124.7deg, rgba(255, 255, 255, 0.4) 9.74%, rgba(255, 255, 255, 0.1) 81.2%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
border:0.2vw solid #4E4B4D;

border-radius: 40px;
} */
.crypto-prices{
padding:10%;

display: flex;
width:18vw;
background: #272324;
/* border: 5px solid #4E4B4D; */
border-radius: 40px;
font-size: 1.8vh;
}


.main-table{
    position: relative;
    margin-top:1vh;
    width:100vw;

}
.main-table > h2{
    font-size:3vh;
    text-align: center;
    margin-top:2vh;
    margin-bottom:2vh;
}




.crypto-table-info {
    display: inline-flex;
    width: 100%;
    display: flex;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.6vh;
    overflow: clip;
    margin-top: 0.4vh;
    margin-left: 20vw;
}

.crypto-table-flex {
    justify-content: center;
    display: flex;
}




.crypto-table {
    width: 100%;
    font-size: 2vh;

}

.crypto-table-info-header {
    width: 2vw;
}

.crypto-table-header {
    border-bottom: 5px solid #322D2D;
    font-weight: bold;
    font-size: 2vh;
}


.crypto-table-no {
    width: 10%;
    padding: 10px;
    text-align: center;
}

.crypto-table-price {
    text-align: center;
}

.crypto-table-data-no {
    text-align: center;
    padding: 1.5vh;
    font-weight: bold;
}

.crypto-table-data-name > p{
    display: inline;
}

.crypto-table-data-name > p >a{
    text-decoration: none;
    color:white;
}

.crypto-table-data-name > ul {
    display: inline;
}

.crypto-table-data-name > ul > li {
    display:inline;
    opacity:40%;
}


.crypto-table-data-tradename{
    display: inline;
    opacity: 40%;
}

.crypto-table-row:hover{
    background-color: #1a1a1a;
    transition:0.3s;
}


.crypto-table-row >  td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

.crypto-table-row > td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}


.crypto-table-data-trade>a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.crypto-table-data-trade>a:hover {
    text-decoration: none;
    color: #CC00FF;
}




.crypto-table > ul > li{
    display: inline;
}


.crypto-table-data-price {
    text-align: center;
}

.crypto-table-data-price-profit-loss{
    text-align: center;
}

.crypto-table-data-24hchange{
    text-align:center;
}

.crypto-table-data-trade{
    text-align: center;
    padding-right: 0vw;
}

.crypto-table-info-row>td {

    width: 12vw;


}

.crypto-table-24hchange {
    text-align: center;
    width: 20%;
}

.crypto-table-trade {
    text-align: right;
    padding-right: 2vw;
    width: 8vw;
}

#option-sort{
    background-color: rgb(225, 185, 225);
    font-weight:bold;
}

select {
    background-color: rgb(225, 185, 225);
    background: #AEAEC0;
    font-weight:bold;
}

  .option-sort-selector{
    display:inline;
    font-weight:bold;
 
}

.sort-option-flex{
    margin-top:3vh;
    margin-left:70vw;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.crypto-table-info-row-right {
    text-align: right;
    padding-top: 1.2vh;

}

.crypto-table-info-row-left {
    text-align: left;
    padding-left: 2vw;
    padding-top: 1.2vh;
}

.crypto-prices > table{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    width:20vw;
}

.crypto-prices > table > caption{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    caption-side:top;
    display: table-caption;
    color:white;
    font-size:2.2vh;
    text-align:center;
    margin-top:-2vh;
    font-weight:bold;
}

.crypto-price-right{
    text-align: right;
}