.profile-flex{
    margin-top:2vh;
    width:70vw;
    height:50vh;
}
.profile-flex > h4{
    margin-top:2vh;
}
.profile-flex > p{
    font-size:2vh;
    margin-top:3vh;
}

.dashboard-grid{
    display: inline-grid;
    grid-template-columns: 10vw 10vw 15vw;
    grid-gap:10vw;
}
